/*FONTES*/
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

/* BASE DO SITE */
body{
  margin: 0;
}
#cabecalho{
  background-color: black;
  color: white;
  padding: 15px;
}
#navbar{
  background-color: red;
  background-image: url('../img/navbar-fundo2.jpg');
  background-repeat: repeat;
  text-align: left;
  font-family: 'Roboto Condensed', sans-serif;
  color: white;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  height: 45px;
}
#centro{
  background-color: white;
  margin-left: 15px;
  margin-right: 15px;
}
#rodape{
  margin-top: 15px;
  background-color: gray;
}

/* ELEMENTOS BÁSICOS */
/* TOPO */
.topo-logo{
  text-align: center;
  margin: auto;
}
.topo-logo h5{
  padding-top: 15px;
  padding-bottom: -15px;
}
#navbar a{
  color: white;
  padding-right: 20px;
}
#navbar a:hover{
  color: black;
  text-decoration: none;
}
#navbar #form-pesquisa{
  text-align: right;
}

/* LATERAL */
.titulo-lateral{
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  background-color: dimgray;
  height: 30px;
  padding-top: 4px;
  margin-bottom: 5px;
}
.cidades-lateral{
  margin-bottom: 5px;
}
.nome-cidade{
  font-size: 13.5px;
  padding-bottom: 3px;
  padding-top: 2px;
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  border-color: lightgray;
}
.nome-cidade a{
  color: black;
}
.nome-cidade a:hover{
  color: gray;
  text-decoration: none;
}

/* CENTRO */
.slide{
  width: 784px;
  height: 340px;
  margin: 20px;
  background-color: whitesmoke
}

.materias{
  margin: 20px;
}

/* MATERIAS */
.materia{
  float: left;
  width: 146px;
  height: 240px;
  margin-right: 3px;
  margin-left: 7px;
  margin-bottom: 10px;
  line-height: 1;
}
.materia img{
  width: 145px;
  border-style: solid;
  border-width: 2px;
  border-color: gray;
}
.materia img:hover{
  border-color: dimgrey;
}
.materia p{
  color: crimson;
  font-size: 11px;
  margin-top: 2px;
  margin-bottom: 2px;
}
.materia a{
  color: black;
  font-size: 13px;
}
.materia a:hover{
  color: black;
}

/* STREAM CCOMANDO 190 */
.titulo-stream{
  text-align: center;
  font-size: 18px;
  color: white;
  text-shadow: 2px 2px 50px black;
  background-color: crimson;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  width: 784px;
  padding: 10px;
}
.stream{
  background-color: whitesmoke;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 784px;
  height: 561px;
}
